<section class="row p-5 mob-version-section2">
  <div class="text-center mb-4">
    <h2 class="mb-4">Features</h2>
    <p class="paragraph">
      Our aim is to make quick and easy for you to access your favourite
      websites. Your bookmarks sync between your devices so you can access them
      on the go
    </p>
  </div>

  <div class="d-flex justify-content-center features-menu mb-5">
    <ul class="nav-mobile nav">
      <li class="nav-item">
        <a class="nav-link a-custom active" href="#">Bookmarking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link a-custom" href="#">Speady Searching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link a-custom" href="#"> Sharing</a>
      </li>
    </ul>
  </div>

  <div class="row mx-5">
    <div class="col-6">
      <div class="screen-img-2 ms-5">
        <div class="arc-left"></div>
      </div>
    </div>
    <div class="col-5">
      <h1 class="mb-4 mt-5">Bookmark in a one click</h1>
      <p class="mb-4">
        Organize your bookmarks however you like. Our simple drag-and-drop
        interface gives you complete control over how you manage your favourite
        sites.
      </p>
      <button class="btn shadow btn-custom-primary rounded px-4 py-2">
        More Info
      </button>
    </div>
  </div>
</section>
