<section class="row p-5">
  <div class="col-lg-6 col-md-auto col-sm-12 p-5">
    <h1 class="mb-4">A Simple Bookmark Manager</h1>
    <p class="mb-4">
      A clean and simple interface to organize your favourite websites. Open a
      new browser tab and see your sites load instantly. Try it for free.
    </p>
    <button class="btn shadow btn-custom-primary rounded px-4 py-2">
      Get it on Chrome
    </button>
    <button class="btn shadow bg-white rounded mx-3 px-4 py-2">
      Get it on Firefox
    </button>
  </div>
  <div class="col-lg-6 col-md-auto col-sm-auto">
    <div class="screen-img"></div>
    <div class="arc"></div>
  </div>
</section>
