<section class="row d-flex justify-content-center text-center section3">
  <div class="col-10 justify-content-center">
    <h4 class="">Download the extension</h4>
    <div class="row d-flex justify-content-center">
      <p class="col-8 mb-4 p-5">
        We've got more browsers in the pipeline. Please, do let us know if
        you've got a favourite you'd like us to prioritize.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 card mx-3 shadow">
        <div class="card-image img-chrome"></div>
        <h6>Add to chrome</h6>
        <p>Minimum version 62</p>
        <div class="dots"></div>
        <button class="btn btn-custom-primary">Add & Install Extension</button>
      </div>
      <div class="col-3 card mx-3 shadow m-4">
        <div class="card-image img-firefox"></div>
        <h6>Add to Firefox</h6>
        <p>Minimum version 55</p>
        <div class="dots"></div>
        <button class="btn btn-custom-primary">Add & Install Extension</button>
      </div>
      <div class="col-3 card mx-3 shadow m-5">
        <div class="card-image img-opera"></div>
        <h6>Add to Opera</h6>
        <p>Minimum version 46</p>
        <div class="dots"></div>
        <button class="btn btn-custom-primary">Add & Install Extension</button>
      </div>
    </div>
  </div>
</section>
