@import "../abstracts/variables";

.paragraph {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

section {
  margin-bottom: 150px;
}

.section-contact {
  background-color: $primary-color;

  // height: 400px;
}

@media screen and (max-width: 780px) {
  .mob-version-section1 {
    text-align: center;

    .buttons {
      display: flex;
      justify-content: space-evenly;

      button {
        width: 100%;
        font-size: smaller;
      }
    }
  }

  .mob-version-section2 {
    text-align: center;
  }

  .mob-version-section3 {
  }

  .mob-version-section4 {
  }
}
