@import "../abstracts/variables";

.btn-custom-primary {
  background-color: $primary-color;
  color: $btn-light-color;
}

.btn-custom-secondary {
  background-color: $secondary-color;
  color: $btn-light-color;
}

.custom-accordion {
  .custom-accordion-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

.custom-input-group {
  height: 10px;
  .custom-input {
    max-width: 300px;
  }
}

.email-form {
  height: 50px;

  .email-input {
    // width: 400px;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }
  .button-form {
    padding: 10px;
  }
}

.facebook {
  background-image: url("../../assets/icon-facebook.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.twitter {
  background-image: url("../../assets/icon-twitter.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

@media screen and (max-width: 780px) {
}
