@import "../abstracts/variables";

.btn-custom-primary {
  background-color: $primary-color;
  color: $btn-light-color;
}

.btn-custom-secondary {
  background-color: $secondary-color;
  color: $btn-light-color;
}

.custom-accordion {
  .custom-accordion-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
