@import "../abstracts/variables";

.btn-custom-primary {
  background-color: $primary-color;
  color: $btn-light-color;

  &:hover {
    background-color: $btn-light-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.btn-custom-secondary {
  background-color: $secondary-color;
  color: $btn-light-color;

  &:hover {
    background-color: $btn-light-color;
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.btn-custom-light {
  &:hover {
    border: 1px solid $btn-gray-color;
  }
}

.custom-accordion {
  .custom-accordion-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

.custom-input-group {
  height: 10px;
  .custom-input {
    max-width: 300px;
  }
}

.btn-contact-us {
  font-size: 14px;
  height: 37px;
}
