@import "../abstracts/variables";

.card {
  height: 400px;
  text-align: center;
  border: none;
  padding: 30px;
  border-radius: 5%;
  max-width: 300px;
  margin-bottom: 20px;

  .dots {
    background-image: url("../../assets/bg-dots.svg");
    height: 5px;
    background-size: cover;
    margin: 35px -20px;
  }

  .card-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }

  .img-chrome {
    background-image: url("../../assets/logo-chrome.svg");
  }

  .img-firefox {
    background-image: url("../../assets/logo-firefox.svg");
  }

  .img-opera {
    background-image: url("../../assets/logo-opera.svg");
  }
}
